function test.main 3
push constant 1
pop local 0
push constant 1
pop local 1
push local 0
push constant 0
lt
not
push local 1
push constant 1
eq
and
push local 0
push constant 0
lt
or
push local 1
push constant 1
neg
eq
and
if-goto IF_TRUE48
goto IF_FALSE48
label IF_TRUE48
push constant 20
pop local 2
goto IF_END48
label IF_FALSE48
push constant 5
pop local 2
label IF_END48
push constant 0
return
