function Memory.init 0
push constant 9000
pop static 1
push constant 16383
pop static 2
push static 1
pop static 0
push constant 0
push static 0
add
push static 2
push static 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 1
push constant 0
pop local 0
push argument 0
push local 0
add
pop pointer 1
push that 0
return
function Memory.poke 1
push constant 0
pop local 0
push argument 0
push local 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 6
push argument 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 5
call Sys.error 1
pop temp 0
label IF_FALSE0
push static 0
pop local 1
push static 0
pop local 2
push constant 0
pop local 5
label WHILE_EXP0
push local 5
not
not
if-goto WHILE_END0
push constant 0
push local 1
add
pop pointer 1
push that 0
pop local 3
push local 3
push argument 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 5
not
pop local 5
goto IF_END1
label IF_FALSE1
push local 1
pop local 2
push constant 1
push local 1
add
pop pointer 1
push that 0
pop local 1
push local 1
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 6
call Sys.error 1
pop temp 0
label IF_FALSE2
label IF_END1
goto WHILE_EXP0
label WHILE_END0
push local 3
push argument 0
push constant 3
add
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
push local 2
add
push constant 1
push local 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 0
goto IF_END3
label IF_FALSE3
push local 1
push local 3
add
push argument 0
sub
pop local 0
push constant 1
neg
push local 0
add
push argument 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 1
add
push constant 0
push local 1
add
pop pointer 1
push that 0
push argument 0
sub
push constant 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END3
push local 0
return
function Memory.deAlloc 2
push argument 0
push constant 1
sub
pop argument 0
push static 0
pop local 1
label WHILE_EXP0
push local 1
push argument 0
lt
not
if-goto WHILE_END0
push local 1
pop local 0
push constant 1
push local 1
add
pop pointer 1
push that 0
pop local 1
push local 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 2
pop local 1
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push local 0
push constant 0
push local 0
add
pop pointer 1
push that 0
add
push constant 1
add
pop local 1
push local 1
push argument 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
push local 0
add
push constant 0
push local 0
add
pop pointer 1
push that 0
push constant 0
push argument 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
label WHILE_EXP1
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 0
push constant 0
push local 0
add
pop pointer 1
push that 0
add
push constant 1
add
eq
not
if-goto WHILE_END1
push constant 1
push local 0
add
pop pointer 1
push that 0
pop local 1
push constant 0
push local 0
add
push constant 0
push local 0
add
pop pointer 1
push that 0
push constant 0
push local 1
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 1
push local 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto WHILE_EXP1
label WHILE_END1
goto IF_END1
label IF_FALSE1
push constant 1
push argument 0
add
push constant 1
push local 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END1
push constant 0
return
