function Grid.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 1
push argument 1
pop this 2
push argument 2
pop this 3
push argument 3
pop this 4
push this 1
push this 2
call Math.multiply 2
call Array.new 1
pop this 0
push constant 100
pop static 0
push pointer 0
return
function Grid.getWalls 4
push argument 0
pop pointer 0
push argument 2
push this 1
call Math.multiply 2
push argument 1
add
push this 0
add
pop pointer 1
push that 0
pop local 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push local 0
call Tile.isNorthWall 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push local 0
call Tile.isWestWall 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 2
push constant 1
add
push this 1
call Math.multiply 2
push argument 1
add
push this 0
add
pop pointer 1
push that 0
pop local 2
push constant 2
push local 1
add
push local 2
call Tile.isNorthWall 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 2
push this 1
call Math.multiply 2
push argument 1
add
push constant 1
add
push this 0
add
pop pointer 1
push that 0
pop local 3
push constant 1
push local 1
add
push local 3
call Tile.isWestWall 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
return
function Grid.hasNorthWall 2
push argument 0
pop pointer 0
push argument 2
push this 1
call Math.multiply 2
push argument 1
add
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Tile.isNorthWall 1
pop local 0
push local 0
return
function Grid.hasWestWall 2
push argument 0
pop pointer 0
push argument 2
push this 1
call Math.multiply 2
push argument 1
add
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Tile.isWestWall 1
pop local 0
push local 0
return
function Grid.hasSouthWall 2
push argument 0
pop pointer 0
push argument 2
push constant 1
add
push this 1
call Math.multiply 2
push argument 1
add
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Tile.isNorthWall 1
pop local 0
push local 0
return
function Grid.hasEastWall 2
push argument 0
pop pointer 0
push argument 2
push this 1
call Math.multiply 2
push argument 1
add
push constant 1
add
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Tile.isWestWall 1
pop local 0
push local 0
return
function Grid.canSeeFrom 0
push argument 0
pop pointer 0
push constant 0
return
function Grid.coordTransform 3
push argument 0
pop pointer 0
push argument 1
push static 0
call Math.multiply 2
push argument 3
add
pop local 0
push argument 2
push static 0
call Math.multiply 2
push argument 4
add
pop local 1
push constant 2
call Array.new 1
pop local 2
push constant 0
push local 2
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 2
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
return
function Grid.getSizeX 0
push argument 0
pop pointer 0
push this 1
return
function Grid.getSizeY 0
push argument 0
pop pointer 0
push this 2
return
function Grid.getGoalX 0
push argument 0
pop pointer 0
push this 3
return
function Grid.getGoalY 0
push argument 0
pop pointer 0
push this 4
return
function Grid.setGoal 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push argument 2
pop this 4
push constant 0
return
function Grid.dispose 0
push argument 0
pop pointer 0
push this 0
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
