function Square.new 0
push constant 
call Memory.alloc 1
pop pointer 0
function Square.dispose 0
push argument 0
pop pointer 0
function Square.draw 0
push argument 0
pop pointer 0
function Square.erase 0
push argument 0
pop pointer 0
function Square.incSize 0
push argument 0
pop pointer 0
function Square.decSize 0
push argument 0
pop pointer 0
function Square.moveUp 0
push argument 0
pop pointer 0
function Square.moveDown 0
push argument 0
pop pointer 0
function Square.moveLeft 0
push argument 0
pop pointer 0
function Square.moveRight 0
push argument 0
pop pointer 0
