function SquareGame.new 0
push constant 
call Memory.alloc 1
pop pointer 0
function SquareGame.dispose 0
push argument 0
pop pointer 0
function SquareGame.run 2
push argument 0
pop pointer 0
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
